.gridLayout {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "header header header"
    "sidebar main aside"
    "footer footer footer";
  grid-template-rows: 7rem 30rem 9rem;
  grid-template-columns: 10fr 60fr 30fr;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}